.DS_Store
*.tmp
*.pyc
~*
.Rproj.user
.ipynb_checkpoints
/AllenHBAProcessedExpressionWithBrainID/
/mri_transcriptomics.Rproj
/.project
/.pydevproject
/results
/results from first submission
/.DS_Store
.RData
.Rhistory
